@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin:0;
    padding:0;
    font-size:100%;
    background: transparent;
    box-sizing: border-box;
}

html {
    display: flex;
    width: 100%;
    justify-content: center;
}



body {
    width: 1280px;
}

footer {
    background-color: #5E5E5D;
    color: rgba(255, 255, 255, 0.9);
    padding-bottom: 120px;
}

.container {
    width: 1080px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    color: inherit;
}

/* ------------------------------------------------------------------------ */

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 56.7px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 19.9px;
    font-size: 20px;
}

@keyframes buy-hover-color {
    from {
        background-color: rgb(255, 233, 1);
    }
    to {    
        background-color: rgb(225, 200, 15)
    }
}
button {
    background-color: rgb(255, 233, 1);
}
button:hover {
    animation: buy-hover-color 0.2s ease both;
}

@keyframes buy-hover-border {
    from {
        border: solid 8px rgb(41, 130, 255);
    }
    to {
        border: solid 8px rgb(14, 114, 255);
    }
}
.btn-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 200px;
    border: solid 8px rgb(41, 130, 255);
    box-shadow: 4px 5px rgb(2, 24, 126);
    overflow: hidden;
}
.btn-border:hover {
animation: buy-hover-border 0.2 ease both;
}

button p {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(2, 24, 126);
    -webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: rgb(2, 24, 126);
    letter-spacing: 2.1px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ------------------------------------------------------------------------------- */


.color-light-dark {
    background-color: #242424;
}

.color-dark {
    background-color: black;
}


.btn-border input:focus {
    outline: none;
    border: none;
}

/* ------------------------------------------------------------------------ */

.d-flex {
    display: flex;
}

.column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

