#infoSection {
    width: 100%;
    height: auto;
    padding: 16px 30px ;
}

#gameBackground {
    height: 670px;
    background-image: url("../../images/Background.jpg");
    opacity: 0.3;
}
#gameScreen {
    height: 670px;
    background-color: rgba(255, 255, 255, 0.5);
}
.game-screen-label {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 6px 10px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.25); 
}
.game-like:hover {
    background-color: var(--color-white-05);
}
.game-like.button-class {
    padding: 5px;
}

/* ------------------------------------ CONTENT PAGE - UNDER GAME ------------------------------------ */
#content-game-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    gap: 40px;
}

/* ------------------------------------ GAME DETAILS COLUMN ------------------------------------ */
#game-details-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    max-width: 800px;
}
/* ------------------------------------ GAME DETAIL ------------------------------------ */
.game-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 32px;
    gap: 12px;
}
.header-game-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.title-game-detail {
    display: flex;
    align-items: center;
    gap: 8px;
}
.heder-g-detail-action {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 4px;
}
.game-detail-content {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 6px;
}
#more-games-column {
    display: flex;
    align-items: center;
    width: 240px;
    flex-direction: column;
}
.title-game-detail img {
    margin-bottom: 2px;
}

/* ------------------------------------ GAMEPLAYS ------------------------------------ */
.gameplay-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
.gameplay-card:hover {
    cursor: pointer;
}
.video-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.videoImage {
    width: 150px;
}

/* ------------------------------------ CAPTURAS ------------------------------------ */
.game-screnshot-box {
    width: 150px;
}
.game-screnshot {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.game-screnshot:hover {
    cursor: pointer;
}

/* ------------------------------------NUEVO COMENTARIO------------------------------------ */

.new-comment-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.new-comment-action {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 10px;
}
.heder-g-detail-action:hover {
    cursor: pointer;
}
.new-comment-action .button-class {
    background-color: var(--color-white-05);
    color: var(--color-white-40);
    padding: 6px;
    transition: all 0.3s ease;
    cursor: auto;
}
.new-comment-action .button-class.active:hover {
    background-color: var(--color-action-button-1);
    cursor: pointer;
}
.new-comment-box input {
    all: unset;
    padding: 0px 6px;
    width: 100%;
    font-family: 'Baloo 2', cursive;
    word-wrap: break-word;
    font-size: 16px;
    color: var(--color-white-90);
}
.new-comment-action .button-class.active {
    background-color: var(--color-action-button);
    color: var(--color-white-90);
}

/* ------------------------------------COMENTARIOS ANTIGUOS------------------------------------ */
.regular-user-comment {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.regular-comment-body {
    padding-left: 38px;
}
.user-avatar-container {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 1000px;
    overflow: hidden; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
.user-avatar-container:hover {
    cursor: pointer;
}
.avatar {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 40px;
    height: auto; 
    border-radius: 100%; 
    overflow: hidden;
}
.avatar img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}
.nameComment{
    cursor: pointer;
}
.comment-like {
    width: 15px;
}
.comment-action .button-class {
    color: var(--color-white-90);
    padding: 6px;
    transition: all 0.3s ease;
    cursor: auto;
}
.comment-action .button-class:hover {
    background-color: var(--color-white-05);
    cursor: pointer;
}
.comment-action .comment-like{
    padding: 4px;
}
.comment-action .comment-like:hover {
    background-color: var(--color-white-05);
}


@media only screen and (min-width: 800) {

}