#infoSection {
    width: 100%;
    height: auto;
    padding: 16px 30px ;
}

#gameBackground {
    height: 670px;
    background-image: url("../../images/Background.jpg");
    opacity: 0.3;
}
#gameScreen {
    height: 670px;
    background-color: rgba(255, 255, 255, 0.5);
}
#content-game-page {
    display: flex;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 60px;
    gap: 40px;
}
#game-details-column {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 800px;
    gap: 50px;
}
.game-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px 32px;
    gap: 12px;
}
.header-game-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.title-game-detail {
    display: flex;
    align-items: center;
    gap: 8px;
}
.heder-g-detail-action {
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 4px;
}
.game-detail-content {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 6px;
}
#more-games-column {
    display: flex;
    align-items: center;
    width: 240px;
    flex-direction: column;
}
.title-game-detail img {
    margin-bottom: 2px;
}

.gameplay-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
}
.video-label {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}
.videoImage {
    width: 150px;
}

/* ------------------------------------COMENTARIOS------------------------------------ */

.coment-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2px;
    width: 100%;
}

.coment-action {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.coment-action .button-class {
    background-color: var(--color-white-05);
    padding: 6px;
    transition: all 0.3s ease;
    cursor: auto;
}

.coment-action .button-class:hover {
    background-color: var(--color-primary-light-1);
}

.coment-box input {
    all: unset;
    padding: 0px 6px;
    width: 100%;
    font-family: 'Baloo 2', cursive;
    word-wrap: break-word;
    font-size: 16px;
    color: var(--color-white-90);
}



@media only screen and (min-width: 800) {

}