@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600&display=swap');

:root {    
    --color-primary-light-2: rgb(175, 68, 190, 0.8);
    --color-primary-light-1: #A120B3;
    --color-primary: #9003A4;
    --color-primary-shadow-1: #720281;
    --color-primary-shadow-2: #590165;

    --color-accent: #00A750;
    --color-action-button: #3EA6FF;
    --color-action-button-1: #1193FF;
    --color-error: #C90000;

    --color-dark:rgba(34, 34, 34);
    --color-dark-70:rgba(34, 34, 34, 0.70);
    --color-dark-50:rgba(34, 34, 34, 0.50);

    --color-white:rgba(255, 255, 255);
    --color-white-90:rgba(255, 255, 255, 0.90);
    --color-white-80:rgba(255, 255, 255, 0.80);
    --color-white-70:rgba(255, 255, 255, 0.70);
    --color-white-60:rgba(255, 255, 255, 0.60);
    --color-white-40:rgba(255, 255, 255, 0.40);
    --color-white-30:rgba(255, 255, 255, 0.30);
    --color-white-10:rgba(255, 255, 255, 0.10);
    --color-white-05:rgba(255, 255, 255, 0.05);
}

* {
    margin:0;
    padding:0;
    font-size:100%;
    background: transparent;
}
ul {
    list-style: none;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: none;
}
a {
    text-decoration: none;
}
.unstyle {
    all: unset;
}
body {
    background-color: var(--color-dark);
    min-height: 100vh;
}
main {
    min-height: 50vh;
    display: flex;
    padding: 50px 16px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}
#background {
    height: 400px;
    background-image: url("../../images/Background.jpg");
    opacity: 0.7;
}

/* ------------------------------------TEXTOS------------------------------------ */
.text-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.h1-baloo, .h2-baloo, .h3-baloo, .text-baloo, .p-baloo, .p-10-baloo {
    font-family: 'Baloo 2';
    font-style: normal;
    color: var(--color-white-90);
}
.h1-baloo, .h2-baloo, .h3-baloo, .text-baloo, .p-baloo, .p-10-baloo {
    font-family: 'Baloo 2';
    font-style: normal;
    color: var(--color-white-90);
}
.h1-baloo {
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
}
.h2-baloo {
    font-size: 24px;
    line-height: 24px;
    font-weight: 500;
}
.h3-baloo {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
}
.text-baloo {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}
.p-baloo {
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
}
.p-10-baloo {
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
}
.paragraphs {
    gap: 16px;
    flex-direction: column;
    width: 100%;
}
.paragraphs p {
    width: 100%;
    font-weight: 400;
    color: var(--color-white-80);
}


/* ------------------------------------DECORACIONES DE TEXTO------------------------------------ */
.bold {
    font-weight: 600;
}
.semi-bold {
    font-weight: 500;
}
.not-bold {
    font-weight: 400;
}
.underline {
    text-decoration: underline;
}
.line-through {
    text-decoration: line-through;
}
.light-60 {
    color: var(--color-white-60);
}
.light-70 {
    color: var(--color-white-70);
}
.light-80 {
    color: var(--color-white-80);
}
.light-90 {
    color: var(--color-white-90);
}
.light-40 {
    color: var(--color-white-40);
}
.dark {
    color: var(--color-dark);
}

/* ------------------------------------ESTRUCTURA------------------------------------ */
.container {
    display: flex;
    align-items: center;
}
.fill-width {
    width: 100%;
}
.fill-height {
    height: 100%;
}
.half-width {
    width: 50%  !important;
}
.column {
    flex-direction: column;
}
.align-stretch {
    align-items: stretch;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.flex-end {
    justify-content: end;
}
.wrap {
    flex-wrap: wrap;
}
.space-between {
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.pad-2{
    padding: 2px;
}
.pad-4{
    padding: 4px;
}
.pad-8{
    padding: 8px;
}
.pad-10{
    padding: 10px;
}
.pad-16{
    padding: 16px;
}
.pad-32{
    padding: 32px;
}
.pad-6-20{
    box-sizing: border-box;
    padding: 6px 20px;
}
.gap-100 {
    gap: 100px;
}
.gap-40 {
    gap: 40px;
}
.gap-32 {
    gap: 32px;
}
.gap-24 {
    gap: 24px;
}
.gap-18 {
    gap: 12px;
}
.gap-16 {
    gap: 16px;
}
.gap-12 {
    gap: 12px;
}
.gap-10 {
    gap: 10px;
}
.gap-8 {
    gap: 8px;
}
.gap-6 {
    gap: 6px;
}
.gap-4 {
    gap: 4px;
}
.gap-2 {
    gap: 2px;
}

.button-class {
    border-radius: 1000px;
    padding: 2px 10px 2px 10px;
}
.line {
    height: 1px;
    width: 100%;
    background-color: var(--color-white-40);
}
.vertical-line {
    height: 100%;
    width: 1px;
    background-color: var(--color-white-40);
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-2 {
    margin-top: 2px;
}
.margin-bott-5 {
    margin-bottom: 5px;
}

@media only screen and (min-width: 800px) {
    main {
        padding: 50px 64px;
    }
    #background {
        height: 500px;
    }
}

